/* font */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,800;1,100;1,300;1,400;1,600&display=swap');




/*---------------------VARIAVEIS CSS ---------------------- */

:root {

    /*------------ CORES --------------- */

    --main-color: #f7e6df;
    --primeira-cor:#49baf7 ;
    --segunda-cor: #e3edef ;
    --terceira-cor:#ff8196;
    --white-cor: #ffffff;
    --black-cor: #151515;


    /*--------------------- TYPOGRAFIA -----------------*/
    --font-cursive: 'Great Vibes', cursive;
    --body-font: 'Montserrat', sans-serif;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.813rem;

}

/* base */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
    font-size: 62.5%;
}

body {
    background-color: var(--white-cor);
    font-size: var(--normal-font-size);
    font-family:var(--body-font) ;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;


}

/* nav */

.header-1 {
    width: 100%;
    height: 100px;
    background-color: rgba(255,255,255,0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    transition: all 0.5s ease;

}

.navbar {
    justify-content: space-between;
    padding: 0 20px;
}

.nav-hamburguer {
    font-size: 4rem;
    padding: 5px 5px 0;
    border: 1px solid transparent;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 100;

}

.nav-hamburguer:hover {
    color: var(--primeira-cor);
    border: 1px solid var(--primeira-cor);
}

.nav-hamburguer {
    display: none;
}

.brand {
    overflow: hidden;
    margin-top: 15px;
}

/*MEDIA QUERY NAVBAR RESPONSIVO*/

@media screen and (min-width:911px) {
    .nav_menu {
        display: flex;
    }

    .nav_item {
        margin-right: 20px;
        font-size: 2rem;
        text-transform: capitalize;
    }

    .nav_item:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width:910px) {
    .nav-hamburguer {
        display: block;
    }

    .nav {
        position: absolute;
        top: 0;
        right: 0;
        width: 0%;
        height: 100vh;
        background-color: var(--main-color);
        font-size: 0rem;
        text-align: center;
        text-transform: capitalize;
        padding-top: 10rem;
        transition: all 0.3s ease-in-out;
    }
    
    .nav_item {
        padding: 15px 0;
    }

    .show-menu {
        width: 60%;
        font-size: 2.5rem;
    }
}

.nav_link {
    font-weight:700;
    color: var(--black-cor);
    position: relative;
    transition: all 0.4s ease;
}

.nav_link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--terceira-cor);
    transition: all 0.4s ease-in-out;
}

.nav_link:hover::before {
    width: 100%;
}

.nav_link:hover {
    color: var(--primeira-cor);
}

/* hero */

.hero {
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
    border-radius: 0 0 300px 0;
}

.hero-conteudo {
    padding-top: 40px;
    max-width: 1400px;
    justify-content: space-between;
    align-items: center;
}

.hero_texto {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero_texto h1 {
    font-family: var(--font-cursive);
    font-size: 7rem;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0.2rem;
    color: var(--primeira-cor);
    margin-bottom: 20px;

}


.hero_texto h1 span {
    color:  var(--terceira-cor);
}

.hero_texto p {
    font-family: var(--body-font);
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 20px;
    max-width: 80%;
    line-height: 30px;
    letter-spacing: 0.2rem;
    color: var(--primeira-cor);
}

.btn-outline {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #ffb127;
    border-radius: 50px;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 8px 3px;


}

.btn-outline:hover {
    background-color: var(--primeira-cor);
    transition: all 0.5s;
}


.btn-outline  span {
    display: inline;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--white-cor);
    margin-left: 8px;
    
}

.btn-outline i {
    font-size: 17px;
    color: white;
}

.hero_img {
    width: 500px;


}

.hero_img img {
    width: 100%;
}



@media screen and (max-width:1200px) {
    html {
        font-size: 55%;
    }

    .hero_img {
        margin-top: 20px;
        width: 450px;
    }

    .hero_texto h1 {
        line-height: 60px;
    }
}

@media screen and (max-width:1065px) {
    html {
        font-size: 50%;
    }

    .hero_img {
        margin-top: 20px;
        width: 400px;
    }

    .hero_texto h1 {
        margin-top: 20px;
        max-width: 400px;
    }
}


@media screen and (max-width:1065px) {

    .hero-conteudo {
        display: flex;
        flex-direction: column;
    }

    .hero_img {
        width: 200px;
    }

    .hero_texto h1 {
        margin-top: 20px;
        max-width: 400px;
    }
}



/* SOBRE MIM */

