/* font */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,800;1,100;1,300;1,400;1,600&display=swap');




/*---------------------VARIAVEIS CSS ---------------------- */

:root {

    /*------------ CORES --------------- */

    --main-color: #f7e6df;
    --primeira-cor:#49baf7 ;
    --segunda-cor: #e3edef ;
    --terceira-cor:#ff8196;
    --white-cor: #ffffff;
    --black-cor: #151515;


    /*--------------------- TYPOGRAFIA -----------------*/
    --font-cursive: 'Great Vibes', cursive;
    --body-font: 'Montserrat', sans-serif;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.813rem;

}

/* base */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
    font-size: 62.5%;
}

body {
    background-color: var(--white-cor);
    font-size: var(--normal-font-size);
    font-family:var(--body-font) ;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;


}

/* nav */

.header-1 {
    width: 100%;
    height: 100px;
    background-color: rgba(255,255,255,0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    transition: all 0.5s ease;

}

.navbar {
    justify-content: space-between;
    padding: 0 20px;
}

.nav-hamburguer {
    font-size: 4rem;
    padding: 5px 5px 0;
    border: 1px solid transparent;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 100;

}

.nav-hamburguer:hover {
    color: var(--primeira-cor);
    border: 1px solid var(--primeira-cor);
}

.nav-hamburguer {
    display: none;
}

.brand {
    overflow: hidden;
    margin-top: 15px;
}

/*MEDIA QUERY NAVBAR RESPONSIVO*/

@media screen and (min-width:911px) {
    .nav_menu {
        display: flex;
    }

    .nav_item {
        margin-right: 20px;
        font-size: 2rem;
        text-transform: capitalize;
    }

    .nav_item:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width:910px) {
    .nav-hamburguer {
        display: block;
    }

    .nav {
        position: absolute;
        top: 0;
        right: 0;
        width: 0%;
        height: 100vh;
        background-color: var(--main-color);
        font-size: 0rem;
        text-align: center;
        text-transform: capitalize;
        padding-top: 10rem;
        transition: all 0.3s ease-in-out;
    }
    
    .nav_item {
        padding: 15px 0;
    }

    .show-menu {
        width: 60%;
        font-size: 2.5rem;
    }
}

.nav_link {
    font-weight:700;
    color: var(--black-cor);
    position: relative;
    transition: all 0.4s ease;
}

.nav_link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--terceira-cor);
    transition: all 0.4s ease-in-out;
}

.nav_link:hover::before {
    width: 100%;
}

.nav_link:hover {
    color: var(--primeira-cor);
}

/* hero */

.hero {
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
    border-radius: 0 0 300px 0;
}

.hero-conteudo {
    padding-top: 40px;
    max-width: 1400px;
    justify-content: space-between;
    align-items: center;
}

.hero_texto {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero_texto h1 {
    font-family: var(--font-cursive);
    font-size: 7rem;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0.2rem;
    color: var(--primeira-cor);
    margin-bottom: 20px;

}


.hero_texto h1 span {
    color:  var(--terceira-cor);
}

.hero_texto p {
    font-family: var(--body-font);
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 20px;
    max-width: 80%;
    line-height: 30px;
    letter-spacing: 0.2rem;
    color: var(--primeira-cor);
}

.btn-outline {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #ffb127;
    border-radius: 50px;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 8px 3px;


}

.btn-outline:hover {
    background-color: var(--primeira-cor);
    transition: all 0.5s;
}


.btn-outline  span {
    display: inline;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--white-cor);
    margin-left: 8px;
    
}

.btn-outline i {
    font-size: 17px;
    color: white;
}

.hero_img {
    width: 500px;


}

.hero_img img {
    width: 100%;
}



@media screen and (max-width:1200px) {
    html {
        font-size: 55%;
    }

    .hero_img {
        margin-top: 20px;
        width: 450px;
    }

    .hero_texto h1 {
        line-height: 60px;
    }
}

@media screen and (max-width:1065px) {
    html {
        font-size: 50%;
    }

    .hero_img {
        margin-top: 20px;
        width: 400px;
    }

    .hero_texto h1 {
        margin-top: 20px;
        max-width: 400px;
    }
}


@media screen and (max-width:1065px) {

    .hero-conteudo {
        display: flex;
        flex-direction: column;
    }

    .hero_img {
        width: 300px;
    }

    .hero_texto h1 {
        margin-top: 20px;
        max-width: 400px;
    }
}



/* SOBRE MIM */

.sobre-mim {
    margin-top: 30px;
    width: 100%;
    background-image: url(/img/sobremim/fundosobremim.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    z-index: -1;
}

.sobre-mim-flex {
    flex-direction: column;
}
.titulo-sobre-mim {
    font-family: var(--font-cursive);
    margin: 0 auto;
    font-size: 6rem;
}

.conteudo-sobre-mim {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}
.titulo-sobre-mim h1 {
    font-weight: 100;
    color: var(--primeira-cor);
}

.img-sobre-mim {
    /* width: 400px; */
    min-width: 300px;
    flex-grow: 2;
    flex-basis: 500px;
    max-width: 500px;
}

.img-sobre-mim img {
    width: 100%;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.4));
    border-radius: 10px;
}

.texto-sobre-mim {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    max-width: 600px;
    flex-grow: 1;
}

.texto-sobre-mim p {
    font-family: var(--body-font);
    font-size: 2rem;
    text-align: justify;
    line-height: 2.9rem;
    color: var(--black-cor);
}


/* servicos */
.servicos {
    padding: 3rem;
}

.servico-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.titulo-servicos h1 {
    font-family: var(--font-cursive);
    margin: 0 auto;
    font-size: 7rem;
    font-weight: 100;
    color: var(--primeira-cor);
    margin-bottom: 35px;
}

.grid-servicos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    max-width: 700px;
}


.box {
    position: relative;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    flex-grow: 1;

}

.box p {
    font-size: 2rem;
    margin-bottom: 30px;
}
.box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-top: 20px;
}

.box::before, .box::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0px;
    transition: all 0.5s ease;
    
}

.box::before {
    bottom: 0;
    left: 0;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
}

.box::after {
    top: 0;
    right: 0;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
}

.box:hover::before {
    border-bottom: 3px solid var(--terceira-cor);
    border-left: 3px solid var(--terceira-cor);
    width: 98%;
    height: 98%;

}
.box:hover::after {
    border-top: 3px solid var(--terceira-cor);
    border-right: 3px solid var(--terceira-cor);
    width: 98%;
    height: 98%;
}

/* 
DUVIDAS */

.duvidas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.titulo h1 {
    font-family: var(--font-cursive);
    font-size: 7rem;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0.2rem;
    color: var(--primeira-cor);
    margin-bottom: 20px;
    text-align: center;
}

.conteudo {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-duvidas-container {
    width: 500px;
    margin-left: 30px;

}
.img-duvidas-container img {
    width: 100%;
}

.accordeon {
    margin-left: 10px;
    width: 500px;
    outline: none;
}

.accordeon button {
    border: none;
    padding: 0;
    margin: 0;
}

.item-accordeon {
    border-bottom: 1px solid rgba(0,0,0,0.1) !important;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
    margin-bottom: 1px !important;
}

.titulo-acordeon {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 15px;
    background-color: var(--main-color);
}

.titulo-acordeon::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.titulo-acordeon h3 {
    font-size: 1.7rem;
    color: var(--terceira-cor)
}

.titulo-acordeon i {
    font-size: 2rem;
    color: var(--terceira-cor);
}

.titulo-acordeon:hover{
    opacity: 0.9;
}

.texto-conteudo {
    padding: 0 18px;
    background-color: rgba(247, 230, 223,0.3);
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s ease;
}

.selecionado {
    opacity: 0.9;
    max-height: 200px;
}

.texto-conteudo p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.4rem;
    text-align:justify;
    line-height: 2rem;

}


/* 
AGENDAMENTO  */
.agendamento-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.titulo-agendamento h1{
    font-family: var(--font-cursive);
    font-size: 7rem;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0.2rem;
    color: var(--primeira-cor);
    margin-bottom: 20px;
    text-align: center;
}


/* foooter */

footer {
    background-color: var(--black-cor);
    height: 120px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    align-items: flex-start;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 25px;

}

.redes-sociais p {
    font-size: 1.4rem;
    color: #ffb127;
    margin-bottom: 10px;
}

.icones {
    font-size: 2.5rem;
    cursor: pointer;
    color: #ffb127;
}

.newsletter {
    max-width: 500px;


}

form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.newsletter input {
    padding: 8px;
    min-width: 70%;
    border-radius: 5px;



}

.newsletter button {
    padding: 8px 15px;
    text-transform: uppercase;
    margin: 0;
    border: 1px solid #ffb127;
    border-radius: 5px;
    background-color: transparent;
    color: #ffb127;
    cursor: pointer;
}